{:paths   ["src" "resources"]
 :deps    {;; org.clojure/clojure {:mvn/version "1.10.0"}
           metasoarous/oz                  {:mvn/version "1.6.0-alpha6"}
           ;; this is so dumb, i copied this from aleph
           io.netty/netty-transport              {:mvn/version "4.1.36.Final"}
           io.netty/netty-transport-native-epoll {:mvn/version "4.1.36.Final"}
           io.netty/netty-codec                  {:mvn/version "4.1.36.Final"}
           io.netty/netty-codec-http             {:mvn/version "4.1.36.Final"}
           io.netty/netty-handler                {:mvn/version "4.1.36.Final"}
           io.netty/netty-handler-proxy          {:mvn/version "4.1.36.Final"}
           io.netty/netty-resolver               {:mvn/version "4.1.36.Final"}
           io.netty/netty-resolver-dns           {:mvn/version "4.1.36.Final"}}
 :aliases {}}
